In [1]:
import pandas as pd

In [12]:
dataset=pd.read_csv("insurance_pre.csv")

In [13]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [55]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dataset['sex']= label_encoder.fit_transform(dataset['sex']) 
dataset['sex'].unique()

array([0, 1], dtype=int64)

In [38]:
print(dataset['sex'].unique())

[0 1]

In [57]:
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder()
dataset['smoker']= label_encoder.fit_transform(dataset['smoker']) 
dataset['smoker'].unique()

array([1, 0], dtype=int64)

In [58]:
print(dataset['smoker'].unique())

[1 0]

In [42]:
dataset

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [43]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [44]:
independent=dataset[['age', 'sex', 'bmi', 'children', 'smoker']]

In [45]:
independent

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [46]:
dependent=dataset[['charges']]

In [47]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [49]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [50]:
weight=regressor.coef_
weight

array([[  257.8006705 ,   -41.74825718,   321.06004271,   469.58113407,
        23418.6671912 ]])

In [51]:
bais=regressor.intercept_
bais

array([-12057.244846])

In [52]:
y_pred=regressor.predict(X_test)

In [53]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [54]:
r_score

0.7894790349867009