In [195]:
# Phase 1 - Learning phase

In [196]:
import pandas as pd

In [197]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [176]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dataset['sex']= label_encoder.fit_transform(dataset['sex']) 
dataset['sex'].unique()

array([0, 1], dtype=int64)

In [177]:
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder()
dataset['smoker']= label_encoder.fit_transform(dataset['smoker']) 
dataset['smoker'].unique()

array([1, 0], dtype=int64)

In [12]:
dataset

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [198]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [199]:
independent=dataset[['age', 'sex', 'bmi', 'children', 'smoker']]
independent

      age     sex     bmi  children smoker
0      19  female  27.900         0    yes
1      18    male  33.770         1     no
2      28    male  33.000         3     no
3      33    male  22.705         0     no
4      32    male  28.880         0     no
...   ...     ...     ...       ...    ...
1333   50    male  30.970         3     no
1334   18  female  31.920         0     no
1335   18  female  36.850         0     no
1336   21  female  25.800         0     no
1337   61  female  29.070         0    yes

[1338 rows x 5 columns]

In [200]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [19]:
X_train

array([[-1.5330973 , -0.97676557, -0.40713453, -0.89833872, -0.50466988],
       [-0.03364163, -0.97676557,  0.32855417, -0.89833872, -0.50466988],
       [ 0.89459283, -0.97676557,  2.56690911,  3.25603402, -0.50466988],
       ...,
       [ 0.03776102,  1.02378711, -0.91016269, -0.89833872, -0.50466988],
       [-1.46169465,  1.02378711,  0.76659782, -0.89833872, -0.50466988],
       [-0.46205754, -0.97676557, -1.96596021, -0.06746417, -0.50466988]])

In [170]:
from sklearn.svm import SVR
regressor=SVR(kernel="rbf",C=3000)
regressor.fit(X_train,y_train)

C:\Users\z0173161\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000)

In [171]:
regressor.intercept_

array([16589.18908958])

In [172]:
regressor.n_support_

array([936])

In [173]:
y_pred=regressor.predict(X_test)

In [174]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [175]:
r_score

0.8663393953081687

In [ ]:
# Phase 2 - Deployment

In [192]:
import pickle
filename="finalized_model_svm.sav"
pickle.dump(regressor,open(filename,'wb'))

In [193]:
loaded_model=pickle.load(open("finalized_model_svm.sav",'rb'))
result=loaded_model.predict([[28,1,33,3,0]])

In [194]:
result

array([16589.18908958])